<%= form_for @contact, html: {class: 'form-horizontal contact'} do |f| %>

    <% if @contact.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@contact.errors.count, 'error') %> prohibited this contact from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @contact.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <%= error_span(@contact[:name]) %>
    </div>
    <div class="control-group">
      <%= f.label :company_id, class: 'control-label' %>
      <div class="controls">
        <%= f.select :company_id, Company.all.collect { |x| [x.name, x.id] }, {}, class: 'form-control' %>
      </div>
      <%= error_span(@contact[:company_id]) %>
    </div>

    <br/>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), contacts_path, class: 'btn btn-default' %>
<% end %>
