<% if @friendship.valid? %>
  $('span#friend_actions_<%= @friendship.friend.id %>').html('<%= render partial: 'remove_from_friends', locals: {contact: @friendship.contact, friend: @friendship.friend} %>')
<% end %>