<%- model_class = Contact -%>
<div class="page-header">
  <h1><%= t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @contact.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company_id) %>:</strong></dt>
  <dd><%= @contact.company.name %></dd>
</dl>

<div class="panel panel-default">
  <div class="panel-heading">My Company Contacts</div>

  <ul class="list-group">
    <% @all_other_contacts_in_company.each do |contact| %>
        <li class="list-group-item ">
          <%= contact.name %>
          <span id="friend_actions_<%= contact.id %>">
            <% if @contact.friend_with?(contact) %>
              <%= render partial: 'remove_from_friends', locals: {contact: @contact, friend: contact} %>
            <% else %>
              <%= render partial: 'add_to_friends', locals: {contact: @contact, friend: contact} %>
            <% end %>
          </span>
        </li>
    <% end %>
  </ul>
</div>

<%= link_to t('.back', default: t("helpers.links.back")), contacts_path, class: 'btn btn-default' %>
<%= link_to t('.edit', default: t("helpers.links.edit")), edit_contact_path(@contact), class: 'btn btn-default' %>
<%= link_to t('.destroy', default: t("helpers.links.destroy")),
            contact_path(@contact),
            method: 'delete',
            data: {confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?'))},
            class: 'btn btn-danger' %>
