<%= form_for @company, html: {class: "form-horizontal company"} do |f| %>

    <% if @company.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@company.errors.count, "error") %> prohibited this company from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @company.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <%= error_span(@company[:name]) %>
    </div>
    <br/>

    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")), companies_path, class: 'btn btn-default' %>

<% end %>
