<%- model_class = Company -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%= t '.actions', default: t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company_path(company) %></td>
        <td><%= l company.created_at %></td>
        <td>
          <%= link_to t('.edit', default: t("helpers.links.edit")),
                      edit_company_path(company), class: 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                      company_path(company),
                      method: :delete,
                      data: {confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?'))},
                      class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")), new_company_path, class: 'btn btn-primary' %>