<!DOCTYPE html>
<html>
<head>
  <title>CompanyAndContacts</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar brand: 'Companies and Contacts' do %>
    <%= menu_group do %>
        <%= menu_item "Companies", root_path %>
        <%= menu_item "Contacts", contacts_path %>
    <% end %>
<% end %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
